
/* CUSTOM STYLING FOR THE MAIN BODIES OF THE SITE  */

main {
    background-image: url("/images/background-palms.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(143, 71, 71, 0.459);

}

.main-body-contain {
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    
    padding: 3rem;
}

hr {
    background-color: white;
    height: 0.25px;
}

p {
    font-size: 1.25rem;
    line-height: 1.5;
}

.about-me img {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 2rem;

}
