
/* CUSTOM STYLING FOR THE MAIN BODIES OF THE SITE  */

body {
    font-family: 'Raleway';
}

main {
    background-image: url("https://connietran-dev.github.io/homework-week2/images/background-palms.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgb(171, 169, 169);
    background-blend-mode: overlay;

}

.main-body-contain {
    background-color: rgba(24, 24, 24, 0.65);
    
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;    

    min-height: 800px;

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    font-size: 30px;
    color: whitesmoke;
}

hr {
    background-color: white;
    height: 0.25px;

    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


/* PORTFOLIO STYLING */

.portfolio a {
    color: rgb(46, 53, 60);
    text-decoration: none;
}

.portfolio h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.portfolio .card {
    margin-bottom: 20px;

    /* min-height: 300px; */
}

.portfolio .card:hover {
    opacity: 0.8;
}

.portfolio p {
    font-size: 12px;
}



/* ABOUT ME STYLING */

.about-me p {
    font-size: 1.08rem;
    line-height: 1.6;
    color: white;
    
    margin-bottom: 1.5rem;
}

.about-me img {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 2.5rem;
}


/* FOOTER STYLING */

footer {
    height: 4rem;
}

footer i {
    margin: 30px 30px;
    color: rgb(46, 53, 60);
}

footer i:hover {
    color: green; 
}

