
/* CUSTOM STYLING FOR THE MAIN BODY OF THE SITE  */

::selection { 
    background: green; 
    color: white;
}

body {
    font-family: 'Raleway';
}

main {
    background-image: url("../images/background-palms.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgb(171, 169, 169);
    background-blend-mode: overlay;

}

.main-body-contain {
    /* background-color: rgba(24, 24, 24, 0.65); */

    background-color: #4D4D4D;
    
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;    

    min-height: 800px;

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    font-size: 28px;
    color: whitesmoke;
}

hr {
    background-color: white;
    height: 0.25px;

    margin-top: 1.5rem;
    margin-bottom: 2rem;
}




/* FOOTER STYLING */

footer {
    height: 4rem;
}

footer i {
    margin: 30px 30px;
    color: rgb(46, 53, 60);
}

footer i:hover {
    color: green; 
}




/* PORTFOLIO STYLING */

.portfolio a {
    color: rgb(46, 53, 60);
    text-decoration: none;
}

.repo-link {
    color: red;
}

.portfolio h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.portfolio .card {
    margin-bottom: 20px;

    /* min-height: 300px; */
}

.card-img-large {
    max-height: 300px;
    max-width: 60%;
    margin: 0 20%;
}

.portfolio img:hover {
    opacity: 0.8;
}

.portfolio p {
    font-size: 14px;
}

.portfolio .underlined {
    text-decoration: underline;
}

.portfolio .fa:hover {
    color: green; 
}

.portfolio .fab, 
.portfolio .far {
    /* Add padding to make larger click target */
    padding: 8px;
    margin-right: 20px;
}

.portfolio .fa-window-maximize {
    padding: 5px;
}


/* ABOUT ME STYLING */

.about-me p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about-me a {
    color: white;
    text-decoration: underline;
}

.about-me a:hover {
    color: green;
    text-decoration: none;
}

.about-me img {
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    margin-bottom: 4.5rem;
    margin-right: 2.5rem;

    display: block;
}



/* CONTACT FORM STYLING */

form {
    color: white;
}

form p {
    color: white;
    font-style: oblique;
}

form a {
    color: white;
    text-decoration: underline;
}

form a:hover {
    color: green;
}

form input {
    margin-bottom: 15px;
}

form textarea {
    margin-bottom: 15px;
}